<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>JSF 2.0 Hello World</title>
</h:head>
<h:body>
	<h3>JSF 2.0 Hello World Example - hello.xhtml</h3>
	<h:form>
		<h:outputText value ="Parameter: #{personBean.testParameter}" /><br></br>
		<h:inputText value="#{personBean.name}"></h:inputText>
		<h:commandButton value="save" action="#{personBean.save}"></h:commandButton>
	</h:form>
	<br></br>
	<h:dataTable id="personTable" var="person" value="#{personBean.list()}">
		<h:column>
			<f:facet name="header">
				<h:outputText value="Name" />
			</f:facet>
			<h:panelGrid rendered="#{not empty person.name}">
				<h:outputText
					value="#{person.name}" />
			</h:panelGrid>
		</h:column>
	</h:dataTable>
</h:body>
</html>